/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width : 1366px) {
#unnissan img {
    width: 60%;
    margin: 2% 20% 0 20%;
}
#logo2 img {
    width: 34%;
    margin: 0 33%;
}
#cont-carroc {
    width: 52%;
    margin: -3% 24% 0 24%;
}
#txt2 img {
    width: 90%;
    position: relative;
    margin: 0 5%;
}
}
@media only screen and (max-width : 1024px) {
#footer-logo{
	position:relative;
	}
}
@media only screen and (max-width : 810px) {
#cont-general{
	margin: 0 1%;
    width: 98%;
	}
.img-fondo{
    outline: 0px solid #ff9151;
    }  
.cont-form {
    width: 80%;
    position: absolute;
    left: 2%;
    top: 5%;
    }    
#txt-derecha {
    width: 50%;
    right: 2%;
    top: 2%;
    }  
body {
    font-size: 0.8em;
    }    
}
@media only screen and (max-width : 700px) {
#logo2 img {
    width: 50%;
    margin: 0 25%;
}
#registro {
    width: 80%;
    margin: 10px 10% 0 10%;
}
#cont-carroc {
    width: 70%;
    margin: 2% 15% 0 15%;
}
#ingresar {
    width: 190px;
    left: 3%;
    }
}
@media only screen and (max-width : 600px) {
#content{
    width: 100%;
    float: left;
}    
#cont-general{
	padding: 20px 0 0 0;
    width: 100%;
    float: left;
    margin: 0;
	}
.back-1{
    background:url(../images/buenafe-1.jpg);
    background-attachment: fixed;
    background-size: cover;
}
.back-2{
    background:url(../images/buenafe-2.jpg);
    background-attachment: fixed;
    background-size: cover;
}	
#unnissan img {
    width: 80%;
    margin: 2% 10% 2% 10%;
}
#ingresar {
    margin: 6% 0 0 0;
}
#registro {
    width: 90%;
    margin: 10px 5% 0 5%;
}
#registro input[type="image"] {
    width: 70%;
    float: left;
    color: #6d6e71;
    margin: 20px 15% 0 15%;
}
#cont-carroc {
    width: 80%;
    margin: 2% 10% 0 10%;
}
.cont-acceso a:link, .cont-acceso a:visited{
	width:80%;
	margin:7px 10% 0 10%;
	}
#btn-registrarte{
	width:80%;
	margin:25px 10% 0 10%;
	}	
#logo {
    width: 120px;
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
}  
.logo-home{
    right: 1% !important;
    left: auto !important;
}
.logo-formulario{
    top: 0 !important;
}
.cont-form {
    top: 30%;
}   
#top-mayor {
    top: 30%;
}
#textoduran {
    width: 45%;
    }
#txt-derecha {
    width: 70%;
    position: relative;
    float: right;
    }    
.banner-down{
    position: relative;
    float: left;
    }  
.img-fondo{
    display: none;
    }   
#compartir {
    width: 30%;
    text-align: center;
    position: relative;
    margin: 2% 0;
    float: right;
    z-index: 300;
    }       
}
@media only screen and (max-width : 400px) {
body {
    font-size: 0.7em;
    }    
#registro {
    width: 98%;
    margin: 10px 1% 0 1%;
}
#registro input[type="image"] {
    width: 70%;
    float: left;
    color: #6d6e71;
    margin: 20px 15% 0 15%;
}
#cont-carroc {
    width: 90%;
    margin: 2% 5% 0 5%;
}
#ingresar {
    width: 80%;
    text-align: center;
    float: left;
    margin: 0 10%;
    position: relative;
    bottom: 0;
    left: 0;
    }
 #top-mayor {
    top: 35%;
}
.cont-form {
    width: 95%;
    position: absolute;
    left: 2%;
} 
#textoduran {
    width: 60%;
    }
  #txt-derecha {
    width: 80%;
    position: relative;
    float: right;
    }   
}