/* FUENTES WEB */
@font-face {
    font-family: 'nexa_lightregular';
    src: url('Nexa_Free_Light-webfont.eot');
    src: url('Nexa_Free_Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('Nexa_Free_Light-webfont.woff') format('woff'),
         url('Nexa_Free_Light-webfont.ttf') format('truetype'),
         url('Nexa_Free_Light-webfont.svg#nexa_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'komika_axisregular';
    src: url('komikax_-webfont.woff2') format('woff2'),
         url('komikax_-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*styles*/
.text-right{
    text-align: right !important; 
}
a {
text-decoration: none;
}
body{
	font-family: 'nexa_lightregular';  
 	color:#6d6e71;
	font-size:1em;
    margin: 0;
    padding: 0;
}
#cont-general{
	margin: 0 auto;
    width: 810px;
    position: relative;
	}
#background-rojo{
	background-image:url(../images/fondo-archidona.jpg);
	background-color:#aa1111;
	background-repeat:repeat;
	}
#background-blanco{
	background-image:url(../images/fondo-navidad2.svg);
	background-color:#fff;
	background-repeat:repeat;
	}
 .logo-formulario{
    pointer-events: none;
 }   
#logo{
    width: 180px;
    position: absolute;
    text-align: center;
    bottom: 3%;
    right: 1%;
}
.left-l{
    right: auto !important;
    left: 1% !important;
}
#logo img{
    width:100%;
}

#content{
    position: relative;
}
#content img{
    width: 100%;
    
}
.img-fondo{
    outline: 4px solid #eb0028;
}
#unnissan{
	width:100%;
	float:left;
	}
#unnissan img{
	width:70%;
	margin:0 15%;
	}	
#textsonrisas{
    width: 100%;
    text-align: center;    
}
#textsonrisas img{
    width: 40%;
    animation: sonrisatxtani 2s linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    -webkit-animation: sonrisatxtani 2s linear;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation: sonrisatxtani 2s linear;
    -moz-animation-iteration-count: 1;
    -moz-animation-fill-mode: forwards;
    
}
#ingresar{
    width: 240px;
    text-align: center; 
	float:left;
	margin:3% 0 0 0;
    position: absolute;
    bottom: 8%;
    left: 4%;
}
#ingresar a:link, #ingresar a:visited{
    width:100%;
    float: left; 
    cursor: pointer;
}
#siguiente{
    width: 90%;
    text-align: right;
    position: relative;
    bottom: -10%;
	z-index: 10;
}
#siguiente a{
    font-size: 20px;
    font-style: normal;
    color: #e31b23;
    cursor: pointer;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    animation: sonrisatxtani 0.3s linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    -webkit-animation: sonrisatxtani 0.3s linear;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation: sonrisatxtani 0.3s linear;
    -moz-animation-iteration-count: 1;
    -moz-animation-fill-mode: forwards;
}
#siguiente a:hover{
    color: #fff;
    background-color: #E31E26;
    border-radius: 35px;
}
#logo2{
    width: 100%;
    position: relative;
    z-index: 1;
}
#logo2 img{
   width: 40%;
   margin:0 30%; 
}
#textoduran{
    width: 37%;
    position: absolute;
    left: 4%;
    top: 38%;
}
#txt2{
width: 100%;
position: relative;
float:left;
}
#txt2 img{
    width: 70%;
    position: relative;
	margin:0 15%;    
}
#content2{
    width: 70%;
    margin: 0 auto;
    position: relative;
    margin-top: 30%;
    z-index: 1;
    animation: sonrisatxtani 1s linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; 
    -webkit-animation: sonrisatxtani 1s linear;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation: sonrisatxtani 1s linear;
    -moz-animation-iteration-count: 1;
    -moz-animation-fill-mode: forwards;
}
#cont1{
    width: 50%;
    float: left;
    text-align: center;
}
#cont2{
    width: 50%;
    float: right;
    text-align: center;
}

input[type="radio" ] {
appearance: none;    
-moz-appearance: none;
-webkit-appearance: none;
/* display: block; */
margin: 10px;
width: 30px;
height: 30px;
border-radius: 20px;
cursor: pointer;
background-color: hsla(358, 70%, 39%, 1);
background-image: -webkit-radial-gradient( hsla(0, 100%, 100%, 1) 0%, hsla(0, 100%, 100%, 1) 15%, hsla(0, 100%, 100%, 0.29) 28%, hsla(200,100%,30%,0) 70% );
background-repeat: no-repeat;
-webkit-transition: background-position .15s cubic-bezier(.8, 0, 1, 1),
 -webkit-transform .25s cubic-bezier(.8, 0, 1, 1);
}
input[type="radio"]:checked {
  -webkit-transition: background-position .2s .15s cubic-bezier(0, 0, .2, 1),
    -webkit-transform .25s cubic-bezier(0, 0, .2, 1);
}
input[type="radio" ]:active {
  -webkit-transform: scale(1.5);
  -webkit-transition: -webkit-transform .1s cubic-bezier(0, 0, .2, 1);
}



/* The up/down direction logic */

input[type="radio" ] ,
input[type="radio" ]:active {
  background-position: 0 24px;
}
input[type="radio" ]:checked {
  background-position: 0 0;
}
inpu[type="radio" ]t:checked ~ input[type="radio" ],
input[type="radio" ]:checked ~ input[type="radio" ]:active {
  background-position: 0 -24px;
}
label {
    width: 80%;
    height: 5%;
    padding: 0%;
    border: 0;
    font-size: 25px;
    font-style: normal;
     color: #6e6e6e;
}
#registro{
    width: 90%;
    margin: 5px 5% 0 5%;
    position: relative;
	float:left;

}
#registro input[type="text"], #registro input[type="email"], #registro input[type="password"] {
    font-size: 0.8em;
    color: #eb0028;
    background-color: #FFF;
    margin-top: 1%; 
    position: relative;
	width:96%;
	margin:3px 0 0 0;
	border:1px solid #eb0028;
	padding:3px 2%;
    font-family: 'nexa_lightregular';
 
}
#registro input[type="file"]{
    font-size: 0.8em;
    color: #eb0028;
    margin-top: 1%;
    position: relative;
    width: 96%;
    margin: 7px 0 0 0;
    line-height: 0;
}
#registro select{
    font-size:0.8em;
    color: #eb0028;
    background-color: #FFF;
    margin-top: 1%; 
    position: relative;
    width:100%;
    margin:7px 0 0 0;
    border:1px solid #f15d22;
    padding:7px 2%;
    font-family: 'nexa_lightregular';
}
#registro input[type="submit"]{
	font-size: 1.8em;
    font-style: normal;
    color:#eb0028;
    cursor: pointer; 
    background-color: #dddddd; 
    border:5px solid #858585; 
    border-radius: 15px;
    padding: 7px 60px; 
    transition: 0.3s all;
    margin: 40px 0 0 23%;
	}
#star{
    float: left;
    padding-top: 5px;
}
label#regtxt {
    color: #e31b23;
    font-size: 20px;
}
#siguiente2{
    width: 100%;
    text-align: center; 
    margin-top: 3%;
    position: fixed;
    bottom: 5%;
}
#siguiente2 a{
    font-size: 20px;
    font-style: normal;
    color: #e31b23;
    cursor: pointer;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    animation: sonrisatxtani 2s linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    -webkit-animation: sonrisatxtani 2s linear;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation: sonrisatxtani 2s linear;
    -moz-animation-iteration-count: 1;
    -moz-animation-fill-mode: forwards;
}
#siguiente2 a:hover{
    color: #fff;
    background-color: #E31E26;
    border-radius: 35px;
}
#content-carta{
width: 80%;
/* height: 60%; */
margin: 0 auto;
padding-top: 10%; 
text-align: center;
/* position: fixed; */
top: -20%;
    
    
}
#content-carta img{
    width: 100%;
    position: relative;
    top: 10%;
    right: 0%;
    animation: sonrisaani 2s linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    -webkit-animation: sonrisaani 2s linear;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation: sonrisaani 2s linear;
    -moz-animation-iteration-count: 1;
    -moz-animation-fill-mode: forwards;
}
.txtcarta {
   width: 50%;
    height: auto;
    font-size: 50px;
    position: relative;
    transform: rotate(-11deg);
    -webkit-transform: rotate(-11deg);
    -moz-transform: rotate(-11deg);
    left: 35%;
    margin-top: -20%;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    border-bottom: 1px solid #e31b23;
    animation: sonrisatxtani 2s linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    -webkit-animation: sonrisatxtani 2s linear;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation: sonrisatxtani 2s linear;
    -moz-animation-iteration-count: 1;
    -moz-animation-fill-mode: forwards;
}
#nombre{
    width: 50%;
    text-align: center;
    font-size: 1em;
    font-style: normal;
    color: #e31b23;
    cursor: default;
    z-index: 999;
    position: relative;
    transform: rotate(-11deg);
    -webkit-transform: rotate(-11deg);
    -moz-transform: rotate(-11deg);
    left: 35%;
  
    animation: sonrisatxtani 2s linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    -webkit-animation: sonrisatxtani 2s linear;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation: sonrisatxtani 2s linear;
    -moz-animation-iteration-count: 1;
    -moz-animation-fill-mode: forwards;
}
#compartir {
        width: 30%;
    text-align: center;
    position: relative;
    margin: 2% 0 0 0;
    float: right;
    z-index: 300;
}
#compartir img{
	width:100%;
	}
#compartir a:link, #compartir a:visited{
    font-size: 20px;
    font-style: normal;
    color: #e31b23;
    cursor: pointer;
	float:left;
}
#camion{
    width: 84%;
    height: 300px;
    /* margin-left: 10%; */
    position: fixed;
    z-index: 999;
    bottom: 0;
    background-image: url("../images/_5/camion1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0% 100%;}
#camion img{
    width: 70%;
    position: relative;
    bottom: 0;
    left: -100%;
    animation: txtregani 0.5s cubic-bezier(0, 0, .2, 1);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;    
    -webkit-animation: txtregani 0.5s cubic-bezier(0, 0, .2, 1);
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation: txtregani 0.5s cubic-bezier(0, 0, .2, 1);
    -moz-animation-iteration-count: 1;
    -moz-animation-fill-mode: forwards;
}


/**/
input[type="submit"] {
     font-size: 20px;  font-style: normal;  color: #e31b23;  cursor: pointer;  transition: all 0.3s;  -webkit-transition: all 0.3s;  -moz-transition: all 0.3s;  animation: sonrisatxtani 2s linear;  animation-iteration-count: 1;  animation-fill-mode: forwards;  -webkit-animation: sonrisatxtani 2s linear;  -webkit-animation-iteration-count: 1;  -webkit-animation-fill-mode: forwards;  -moz-animation: sonrisatxtani 2s linear;  -moz-animation-iteration-count: 1;  -moz-animation-fill-mode: forwards;
    background: 0;
    border: 0;
}

input[type="submit"]:hover {
    color: #fff;  background-color: #E31E26;  border-radius: 35px;
}
#canvas{
    position: fixed;
    z-index: -1;
	width:100%;
	height:100%;
	top:0;
	left:0;
}
#footer-logo{
	width:100%;
	position:fixed;
	left:0;
	bottom:0;
	overflow:hidden;
	pointer-events:none;
	}
#footer-logo img, #footer-logo-registro img{
	width:100%;
	}
#footer-logo-registro{
	width:100%;
	position:relative;
	left:0;
	bottom:0;
	overflow:hidden;
	pointer-events:none;
	}		
/**/
.cont-form{
	width:50%;
    position: absolute;
    left: 2%;
    top: 5%;
	}
 #top-mayor{
    top: 15%;
 }  
.cont-acceso{
	width:100%;
	float:left;
	padding:10px 0 0 0;
	border-top:1px solid #828282;
	text-align:center;
	margin:10px 0 0 0;
	}
.cont-acceso span{
	width:100%;
	float:left;
	font-size:1em;
	font-weight:bold;
	}		
.cont-acceso a:link, .cont-acceso a:visited{
	color:#fff;	
	font-size:1.3em;
	background-color:#e81c24;
	width:60%;
	text-align:center;
	padding:5px 0;
	text-transform:uppercase;
	font-weight:bold;
	margin:7px 20% 0 20%;
	float:left;
	}		
#cont-carroc{
	width:70%;
	float:left;
	position:relative;
	z-index:100;
	margin:-3% 15% 0 15%;
	}	
#cont-carroc img{
	width:100%;
	position:relative;
	z-index:500;
	}	
.txt-brojo{
	width:80%;
	padding:5px 5%;
	margin:10px 5% 0 5%;
	text-align:center;
	font-size:1.1em;
	color:rgba(255,255,255,1.00);
	background-color:#e81c24;
	float:left;
	}	
.txt-blanco{
	width:80%;
	padding:5px 5%;
	margin:10px 5% 0 5%;
	text-align:center;
	font-size:1.1em;
	color:rgba(255,255,255,1.00);
	float:left;
	}		
.cont-100{
    width: 100%;
    float: left;
    margin: 5px 0;
}
.txt-terminos{
    color: #FFF;
    font-size: 0.9em;
     font-family: 'nexa_lightregular';
} 
.errorMessage{
    color: #FFF !important;
}
/***/
#txt-derecha{
    width: 40%;
    position: absolute;
    right: 5%;
    top: 5%;
}
.tit-rojo{
background: rgba(235,0,40,0.8);
border-radius: 10px 10px 0 0;  
width: 90%;
text-align: center;
color: #FFF;  
font-family: 'komika_axisregular';
font-size: 1.8em;
line-height: 40px;
padding: 7px 5%;
float: left;
}
.cont-black{
   background: rgba(32,24,20,0.8);
    border-radius: 0 0 10px 10px;  
    width: 100%;
    text-align: center;
    color: #FFF;  
    font-family: 'komika_axisregular';
    font-size: 1.2em;
    padding: 7px 0; 
    float: left;
}
.cont-black p{
    width: 70%;
    padding:5px 15%;
    float: left; 
    margin:3px 0;
}
.font-menor{
    font-size: 0.9em;
}
.font-precio{
    font-size: 5em;
    line-height: 60px;
}
.hover-img{
    float: left;
}
.hover-img a:link, .hover-img a:visited{
    width: 100%;
    float: left;
}
.hover-img:hover{
    opacity: 0.8;
}
.id-siguiente{
    width: 110%;
    margin-left: -5%;
}
.margin-top-a{
    margin-top: 3%;
}
.margin-top-a{
    margin-top: 20%;
}
.back-blanco{
    background-color: #fff;
    color:#eb0028;
    width: 60%;
    font-size: 14px;
    float: left;
    padding:14px 5%;
    margin:10px 15%;  
    font-family: 'nexa_lightregular';
    border-radius: 15px;
}
.banner-down{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
.banner-down img{
    outline: none !important; 
    display: block;
}